*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #43AFFC;
    overflow: hidden;

}
.title{
    display: flex;
    text-align: center;
    background-image: url('title.jpg');
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;

}
.title h1{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    text-align: center;
}

ul{
    list-style-type: none;
    background-color: #333;
    overflow: hidden; 
    width: 100%; 
    position: absolute;
    height: 50px;
    
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #43AFFC;
    height: 50px;
  }
  
.search{
  width: auto;
  height: 40px;
  background-color:white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  float: right;
  padding: 14px ;
   margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 1px; 
 
  
}

.search > span {
  font-size: 30px; 
  color: #000;
  padding-top: 2px;
}

.search > input
{
  flex: 1;
  width: 250px;
  height: 35px;
  border-radius: 30px;
  border-color: gray;
  outline: none;
  font-size: 18px;
  padding-left: 7px;
  border: none;
}

.location 
{
  margin-left: 90px;
  margin-top: 4px;
  padding-top: 10px;
  padding-right: 10px;
  width:auto;
  color: white;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

 
.wrappercontainer-1
{
  width: 98%;
  height: 300px;
  /* background-color: white; */
  /* padding: 10px; */
  margin: 15px;
  
}


.wrapper-1
{
    height: 90%;
    max-width: 90%;
    display: flex;
    overflow-x: auto;
    margin-top: 150px;
    margin-left: 70px;
    
    overflow-y: hidden;
}

.wrapper-1::-webkit-scrollbar
{
    width: 0;
}

.wrapper-1 .box2
{
    min-width: 15%;
    height: 100%;
    line-height: 110px;
    text-align: center;
    background-color: rgb(52, 52, 52);
    margin-right: 5px;
    border-radius: 15px;
    /* background-color:cornflowerblue; */
    border: 5px solid #ccc;

}

.box2 .day 
{
  height: 20px;
  width: 100%;
  
  position:relative;
  display: block;
}

.day p{
  color: white;
  font-size: 28px;
}


.box2 .degree1{
  height: 20px;
  margin-top: 50px;
}

.box2 .degree1 h2
{
  font-size: 32px;
  text-shadow: 8px solid #ccc;
  color: white;
}

.box2 .logo2
{
  height: 40px;
  margin-top: 40px;
}

